<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Ave40_Erpapi::productInfo" title="Erp product Info" translate="Erp product Info" sortOrder="111" />
            </resource>
        </resources>
    </acl>
</config>