<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Ave40\Base\Api\ProductInterface" type="\Ave40\Base\Model\Api\ProductApi" />
    <preference for="\Ave40\Base\Api\OrderInterface" type="\Ave40\Base\Model\Api\OrderApi" />
    <preference for="\Magento\Sales\Block\Adminhtml\Order\View\Info" type="\Ave40\Base\Block\Adminhtml\Order\View\Info" />
    <preference for="\Magento\Customer\Controller\Account\EditPost"
                type="\Ave40\Base\Controller\Account\EditPost" />
</config>

